html,
body, 
#root {
  font-family: 'Lato', 'Arial';
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #253237; 
  
}

html, body, div, a, i, button, select, option, optgroup, hr, br { -webkit-touch-callout: none; -webkit-user-select: none;
  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: default; }

.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll {
  
  text-align: center;
  font-size: large;
  width:10em;
  color: pink;
}

svg {
  margin: 0 2rem;
}

.entete h1, h2 {
  color:#805E73;
  text-align: center;
  font-weight: 800;
}

.intro {
  border: solid pink;
  border-radius: 5px;
}

.text {
  pointer-events: none;
  justify-content: start !important;
  font-family: 'Kanit', sans-serif;
  line-height: 0px;
  text-transform: uppercase;
}

.number {
  font-size: 450px;
  color: #373c4c;
}

.number span {
  display: inline-block;
  position: relative;
  transform: translate3d(-35%, 0, 0);
}

.header {
  margin-left: 350px;
  font-size: 70px;
  color: white;
}

.stripe {
  height: 2px;
  width: auto;
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
}

.slopeEnd {
  clip-path: polygon(70% 0, 100% 0, calc(100% - 20vw) 100%, calc(70% - 20vw) 100%);
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 140%;
  height: 100%;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}

#cardPres {
  width: 50rem;
  opacity: 0.9;
  color: #805E73;
  text-align:center;
 
}

#modale {
  color:#13A89E;
  text-align:center;
}

#modale button.btn.btn-primary {
  background-color: #13A89E;
  border :none;
}

img.card-img-top {
  border-radius: 50px;
}

.btn.btn-primary {
  background-color: #805E73;
  border :none;
}
.btn.btn-primary:hover {
  text-decoration: none;
  background-color: #805E73;
}

i{
  font-size: 30px;
  margin :5px;
  color: #805E73;
}

#formulaireContact {
  padding : 20px;
}


/* CV */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-repeat: no-repeat;
  font-size: 14px;
  line-height: 22px;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
  transition-duration: 0.3s;
} */

h3 {
  margin-top: 10px;
  margin-bottom: 10px; 
  font-size: small;
  
}

p {
  color: #353135;
  margin-bottom: 8px;
}

.resume {
  width: 1000px;
  background: #f4f4f4;
  /* align-items: center; */
  display: flex;
  position: relative;
}

.resume-left {
  width: 40%;
  float: left;
  padding-left: 30px;
} 

/* .resume-profile img {
  width: 250px;
  height: 250px;
  margin-top: -70px;
} */

/* .resume-profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.resume-profile-info {
  text-align: center;
} 

.resume-profile-info .name {
  margin-top: 5px; 
  margin-bottom: 0;
  font-size: 27px;
}

.resume-profile-info .career {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 15px;
}
.resume-contact-info {
  padding-left: 10px;
}

.resume-contact-info i {
  color: #13A89E;
  width: 20px;
  height: 20px;
  font-size: 10px;
  text-align: center;
  margin-right: 15px;
  transition-duration: 0.3s;
} 

.resume-right {
  width: 60%;
  background: #f4f4f4;
  padding: 30px 15px; 
}

/* .resume-item {
  padding: 20px 0;
  padding-left: 30px;
  border-left: solid 2px #5e5a5e;
  position: relative;
} */

.resume-item-list_title {
  flex: 1;
}

.resume-item {
  padding-left: 30px;
  border-left: solid 2px #5e5a5e;
  position: relative;
}

.resume-item-list {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
}

.resume-item__title:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #13A89E;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, 140%);
}

.resume-item__title {
  padding: 0px;
  margin: 0px;
}

.resume-right {
  width: 697px;
  background: #f4f4f4;
  padding: 5px;
}

.time-range-block {
  display: flex;
  /* margin-bottom: 20px; */
} 

.time-range-block__col1 {
  display: block;
  width: 70px;
  overflow: hidden;
}

.time-range-block__content * {
  margin: 0;
  color: #666;
}

.competences {
  font-size: small;
}


.skill-bar{
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.skill-bar_level .full,
.skill-bar_level .not_full {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 2px;
  border: 1px solid black;
  border-radius: 50%;
}

.skill-bar_level .full {
  background: black;
}

.interest-item {
  margin-right: 70px;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

.interest-item:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #13A89E;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-50%, 290%);
} 

.interest-item-list {
  box-sizing: border-box;
  padding: 0 0 15px; 
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
} 

.interest-item i {
  font-size: 30px;
  color: #13A89E;
}




